/* Matched page styles*/

/* Container for the images and header */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* Display images and header in a column */
}

/* Style for each image */
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}

.image-container img {
    width: 150px; /* Set a fixed width */
    height: 150px; /* Set a fixed height */
    object-fit: cover; /* Maintain aspect ratio while covering the box */
}

#matchedHeader {
    text-align: center;
    margin-top: 100px; /* Adjust the margin as needed */
    animation: slamAnimation 1s ease-in-out; /* Define the animation */
}

/* Keyframes for the animation */
@keyframes slamAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2); /* Scale up to 120% at the midpoint of the animation */
    }
    100% {
        transform: scale(1);
    }
}
