@font-face {
    font-family: JosefinSans;
    src: url(fonts/Josefin_Sans/static/JosefinSans-Regular.ttf);
}

body {
    font-family: JosefinSans;
    background-color: #fcd5ce;
    margin: 0;
}

#container {
    text-align: center;
}

header {
    background-color: #ffb5a7;
    color: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #fcd5ce;
    cursor: pointer;
}

.welcome-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 82vh;
}

.welcome-text {
    text-align: left;
    padding: 200px;
}

.welcome-title {
    font-size: 3em; /* Adjust the font size as needed */
}

.welcome-image {
    text-align: center;
    position: relative;
    padding: 50px;
    right: 100px;
}

.welcome-image img {
    width: 100%; /* Ensure the image takes the full width */
    height: auto; /* Ensure the image scales proportionally */
    position: relative;
}

.hidden {
    display: none;
}

.login-page {
    padding: 20px;
}

.home-page {
    display: flex;
    flex: 1;
    text-align: left;
    height: 82vh;
}

.chats-area {
    background-color: #f8edeb;
    width: 30%;
    height: 100%;
    padding: 20px;
}

.chat-container {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
}

.chat-icon {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 100%;
}

.chat-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.chat-name {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.chat-text {
    font-size: 14px;
    color: darkgrey;
    margin: 0;
}

.swiping-area {
    background-color: #fcd5ce;
    width: 70%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;

}

.profile-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.photo-container {
    position: relative;
    left: 50px;
    width: 50%;
}

#profilePhoto {
    width: 80%;
    height: auto;
    margin: auto;
    position: relative;
}

.buttons-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 200px;
}

#yesButton {
    width: 100px;
    height: auto;
    transform: rotate(45deg);
}

#noButton {
    width: 100px;
    height: auto;
    transform: rotate(-45deg);
}

.profile-details-container {
    width: 50%;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

img.google {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

img.apple {
    width: 150px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}
